<% include userhead %>

<!-- Start Cart  -->
<div class="cart-box-main">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-6 mb-3">
                <div class="checkout-address">
<!-- Billing Address -->
                    <div class="title-left">
                        <h3>Billing address</h3>
                    </div>
                        <div class="row">
                            <div class="col-md-6 mb-1">
                                <label for="state" style="padding-left: 10px; padding-bottom: 0px; margin-bottom: 0px;">State</label>
    <!--State-->                <input type="text" style="text-transform: capitalize;" class="form-control" name="state" placeholder="Full Address" value="<%= addressDetails.state %>" required readonly>
                            </div>
                            <div class="col-md-6 mb-1">
                                <label for="city" style="padding-left: 10px; padding-bottom: 0px; margin-bottom: 0px;">City</label>
    <!--City-->                 <input type="text" style="text-transform: capitalize;" class="form-control" name="city" placeholder="Full Address" value="<%= addressDetails.city %>" required readonly>
                            </div>
                        </div>                            
                        <div class="mb-1">
                            <label for="state" style="padding-left: 10px; padding-bottom: 0px; margin-bottom: 0px;">Full Address</label>
<!-- Address -->            <input type="text" style="text-transform: capitalize;" class="form-control" name="address" placeholder="Full Address" value="<%= addressDetails.address %>" required readonly>
                        </div>
                        <div class="mb-1">
                            <label for="state" style="padding-left: 10px; padding-bottom: 0px; margin-bottom: 0px;">Postal Zip Code</label>
<!--Zip-->                  <input type="text" name="zip" class="form-control" placeholder="Postal Zip Code" pattern="[0-9]{6}" value="<%= addressDetails.zip %>" required readonly>
                        </div>
                        
                        <p style="text-transform: capitalize; padding-left: 10px;">want to change billing address? <a href="/users/my-account/address" style="color: #d33b33; font-size: 16px; font-weight: 900;">Change Address here.</a></p>
                        
                    
                    <form>
<!-- check box -->
                        <!-- <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="same-address">
                            <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
                        </div> -->
<!-- payment options -->
        <!-- rediobutton -->
                        <hr class="mb-4">
                        <div class="title"> <span>Payment</span> </div>
                        <div class="d-block my-3">
                            <div class="custom-control custom-radio">
<!--card-->                     <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" required disabled>
                                <label class="custom-control-label" for="credit">Credit card</label>
                            </div>
                            <div class="custom-control custom-radio">
<!--card-->                     <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required disabled>
                                <label class="custom-control-label" for="debit">Debit card</label>
                            </div>
                            <div class="custom-control custom-radio">
<!--card-->                     <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" checked required>
                                <label class="custom-control-label" for="paypal">Paypal</label>
                            </div>
                        </div>
        <!-- card detail -->
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="cc-name">Name on card</label>
                                <input type="text" class="form-control" id="cc-name" placeholder="" required readonly> <small class="text-muted">Full name as displayed on card</small>
                                <div class="invalid-feedback"> Name on card is required </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="cc-number">Card number</label>
                                <input type="text" class="form-control" id="cc-number" placeholder="" required readonly>
                                <div class="invalid-feedback"> Credit card number is required </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 mb-3">
                                <label for="cc-expiration">Expiration</label>
                                <input type="text" class="form-control" id="cc-expiration" placeholder="" required readonly>
                                <div class="invalid-feedback"> Expiration date required </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="cc-expiration">CVV</label>
                                <input type="text" class="form-control" id="cc-cvv" placeholder="" required readonly    >
                                <div class="invalid-feedback"> Security code required </div>
                            </div>
        <!-- card images -->
                            <div class="col-md-6 mb-3">
                                <div class="payment-icon" style="margin-top: 20px;">
                                    <ul>
                                        <li><img class="img-fluid" src="../images/payment-icon/1.png" alt=""></li>
                                        <li><img class="img-fluid" src="../images/payment-icon/2.png" alt=""></li>
                                        <li><img class="img-fluid" src="../images/payment-icon/3.png" alt=""></li>
                                        <li><img class="img-fluid" src="../images/payment-icon/5.png" alt=""></li>
                                        <li><img class="img-fluid" src="../images/payment-icon/7.png" alt=""></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <hr class="mb-1"> 
                    </form>
                </div>
            </div>
            <div class="col-sm-6 col-lg-6 mb-3">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="shipping-method-box">
<!-- Shipping method -->
                            <div class="title-left">
                                <h3>Shipping Method</h3>
                            </div>
                            <div class="mb-4">
                                <div class="custom-control custom-radio">
                                    <input id="shippingOption1" name="shipping-option" class="custom-control-input" checked="checked" type="radio">
                                    <label class="custom-control-label" for="shippingOption1">Standard Delivery</label> <span class="float-right font-weight-bold">FREE</span> </div>
                                <div class="ml-4 mb-2 small">(3-7 business days)</div>
                                <div class="custom-control custom-radio">
                                    <input id="shippingOption2" name="shipping-option" class="custom-control-input" type="radio" disabled>
                                    <label class="custom-control-label" for="shippingOption2">Express Delivery</label> <span class="float-right font-weight-bold">$10.00</span> </div>
                                <div class="ml-4 mb-2 small">(2-4 business days)</div>
                                <div class="custom-control custom-radio">
                                    <input id="shippingOption3" name="shipping-option" class="custom-control-input" type="radio" disabled>
                                    <label class="custom-control-label" for="shippingOption3">Next Business day</label> <span class="float-right font-weight-bold">$20.00</span> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12">
                        <div class="odr-box">
<!-- cart -->
                            <div class="title-left">
                                <h3>Shopping cart</h3>
                            </div>
                            <div class="rounded p-2 bg-light">
                                <div class="media mb-2 border-bottom">
                                    <div class="media-body"> <a href="#"> <%= title %></a>
                                        <div class="small text-muted">Book Price: <%= price %> <span class="mx-2">|</span> Book ID: <%= bid %> <span class="mx-2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12">
                        <div class="order-box">
                            <div class="title-left">
                                <h3>Your order</h3>
                            </div>
                            <div class="d-flex">
                                <div class="font-weight-bold">Product</div>
                                <div class="ml-auto font-weight-bold">Total</div>
                            </div>
                            <hr class="my-1">
                            <div class="d-flex">
                                <h4>Sub Total</h4>
                                <div class="ml-auto font-weight-bold"> <%= price %> </div>
                            </div>
                            <div class="d-flex">
                                <h4>Shipping Cost</h4>
                                <div class="ml-auto font-weight-bold"> Free </div>
                            </div>
                            <hr>
                            <div class="d-flex gr-total">
                                <h5>Grand Total</h5>
                                <div class="ml-auto h5"> <%= price %> </div>
                            </div>
                            <hr> </div>
                    </div>
                    


                    <form action="<%= PAYPAL_URL %>" method="POST">
                        <!-- Identify your business so that you can collect the payments. -->
                        <input type="hidden" name="business" value="<%= PAYPAL_ID %>">

                        <!-- Saved buttons use the "secure click" command -->
                        <input type="hidden" name="cmd" value="_xclick">
                      
                        <!-- Specify details about the item that buyers will purchase. -->
                        <input type="hidden" name="item_name" value="<%= bid %>">
                        <input type="hidden" name="item_number" value="<%= qty %>">
                        <input type="hidden" name="amount" value="<%= amount %>">
                        <input type="hidden" name="currency_code" value="USD">

                        <!-- Saved buttons are identified by their button IDs -->
                        <!-- <input type="hidden" name="hosted_button_id" value="221"> -->

                        <!-- Specify URLs -->
                        <input type="hidden" name="return" value="https://books99ob.herokuapp.com/paymentdetails?bid=<%= bid  %>&uid=<%= username %>&amount=<%= amount %>&qty=<%= qty %>">
                        <input type="hidden" name="cancel_return" value="https://books99ob.herokuapp.com/users/cancel">
                      
                        <!-- Saved buttons display an appropriate button image. -->
                        <input type="image" name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" alt="PayPal - The safer, easier way to pay online">
                        <img alt="" width="1" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >                    
                    </form>




                        <!-- <div class="col-12 d-flex shopping-box"> <button class="ml-auto btn hvr-hover"type="submit"  style="color: white; font-weight: 900;">Place Order</button></div> -->
                    
                </div>
            </div>
        </div>

    </div>
</div>
<!-- End Cart -->



<% include instagram-feed %>
<% include userfooter %>