<% include userhead %>




 <!-- Start Shop Page  -->
 <div class="shop-box-inner">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
                <div class="product-categori">
<!-- search -->
                    <div class="search-product">
                        <!-- <form action="#">
                            <input class="form-control" placeholder="Search here..." type="text">
                            <button type="submit"><i class="fa fa-search"></i> </button>
                        </form> -->
                    </div>
<!-- sidebar -->
                    <div class="filter-sidebar-left">
                        <div class="title-left">
                            <h3>Categories</h3>
                        </div>
                        <div class="list-group list-group-collapse list-group-sm list-group-tree" id="list-group-men" data-children=".sub-men">
                            <% for(let row of catlist) { %>
                                <div class="list-group-collapse sub-men">
                                    <a class="list-group-item" href="/users/subcategorylist?catid=<%= row._id %>" aria-controls="sub-men1"><%= row.catnm %></a>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
                <div class="right-product-box">
                    <div class="product-item-filter row">
                        <div class="col-12 col-sm-8 text-center text-sm-left">
                            <div class="toolbar-sorter-right">
                                <span>Sort by </span>
                                <select id="basic" class="selectpicker show-tick form-control" data-placeholder="$ USD">
                                <option data-display="Select">Nothing</option>
                                <!-- <option value="1">Popularity</option> -->
                                <!-- <option value="2">High Price → Low Price</option>
                                <option value="3">Low Price → High Price</option> -->
                                <!-- <option value="4">Best Selling</option> -->
                            </select>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4 text-center text-sm-right">
                            <ul class="nav nav-tabs ml-auto">
                                <li>
                                    <a class="nav-link active" href="#grid-view" data-toggle="tab"> <i class="fa fa-th"></i> </a>
                                </li>
                                <li>
                                    <a class="nav-link" href="#list-view" data-toggle="tab"> <i class="fa fa-list-ul"></i> </a>
                                </li>
                            </ul>
                        </div>
                    </div>
<!-- product start -->
                    <div class="row product-categorie-box">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                                <div class="row">
                                    <% for(let row of blist) { %>
                                        <% if(row.status=="available") { %>
                                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <div class="products-single fix">
                                                <div class="box-img-hover">
                                                    <img src="../../uploads/productimages/<%= row.bookimgnm %>" class="img-fluid" alt="Image">
                                                </div>
                                                <div class="why-text">
                                                    <h4><%= row.btitle %></h4>
                                                    <h5>$ <%= row.bprice %></h5>
                                                    <form method="GET" action="/users/myorder">
                                                        <input type="hidden" name="bid" value="<%= row._id %>">
                                                        <input type="hidden" name="title" value="<%= row.btitle %>">
                                                        <input type="hidden" name="discription" value="<%= row.bdiscription %>">
                                                        <input type="hidden" name="price" value="<%= row.bprice %>">
                                                        <input type="hidden" name="bookimgnm" value="<%= row.bookimgnm %>">
                                                        <button class="btn hvr-hover" type="submit" style="color: white; float: right; margin-top: -30px; font-weight: 900;">Buy Now</button>
                                                    </form>                                                
                                                </div>
                                            </div>
                                        </div>
                                    <% }} for(let row of userblist) { %>
                                        <% if(row.status==1) { %>
                                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <div class="products-single fix">
                                                <div class="box-img-hover">
                                                    <div class="type-lb">
                                                        <p class="new">User's Book</p>
                                                    </div>
                                                    <img src="../../uploads/productimages/<%= row.bookimgnm %>" class="img-fluid" alt="Image">
                                                </div>
                                                <div class="why-text">
                                                    <h4><%= row.userbtitle %></h4>
                                                    <h5>$ <%= row.userbprice %></h5>
                                                    <form method="GET" action="/users/myorder">
                                                        <input type="hidden" name="bid" value="<%= row._id %>">
                                                        <input type="hidden" name="title" value="<%= row.userbtitle %>">
                                                        <input type="hidden" name="discription" value="<%= row.userbdiscription %>">
                                                        <input type="hidden" name="price" value="<%= row.userbprice %>">
                                                        <input type="hidden" name="bookimgnm" value="<%= row.bookimgnm %>">
                                                        <button class="btn hvr-hover" type="submit" style="color: white; float: right; margin-top: -30px; font-weight: 900;">Buy Now</button>
                                                    </form>                                                
                                                </div>
                                            </div>
                                        </div>
                                        <% }} %>
                                </div>
                            </div>

                            <div role="tabpanel" class="tab-pane fade" id="list-view">
                                <div class="list-view-box">
                                    <div class="row">
                                        <% for(let row of blist) { %>
                                            <% if(row.status=="available") { %>
                                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                <div class="products-single fix">
                                                    <div class="box-img-hover">
                                                        <img src="../../uploads/productimages/<%= row.bookimgnm %>" class="img-fluid" alt="Image">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                                                <div class="why-text full-width">
                                                    <h4><%= row.btitle %></h4>
<!-- rs - &#8377;  -->                              <h5>$ <%= row.bprice %></h5>      
                                                    <p style="text-align: justify;"><%= row.bdiscription %></p>
                                                    <form method="GET" action="/users/myorder">
                                                        <input type="hidden" name="bid" value="<%= row._id %>">
                                                        <input type="hidden" name="title" value="<%= row.btitle %>">
                                                        <input type="hidden" name="discription" value="<%= row.bdiscription %>">
                                                        <input type="hidden" name="price" value="<%= row.bprice %>">
                                                        <input type="hidden" name="bookimgnm" value="<%= row.bookimgnm %>">
                                                        <button class="btn hvr-hover" type="submit" style="color: white; float: right; margin-top: -30px; font-weight: 900;">Buy Now</button>
                                                    </form>
                                                </div>
                                            </div>
                                        <% }} for(let row of userblist) { %>
                                            <% if(row.status==1) { %>
                                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                <div class="products-single fix">
                                                    <div class="box-img-hover">
                                                        <div class="type-lb">
                                                            <p class="sale">User's Book</p>
                                                        </div>
                                                        <img src="../../uploads/productimages/<%= row.bookimgnm %>" class="img-fluid" alt="Image">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                                                <div class="why-text full-width">
                                                    <h4><%= row.btitle %></h4>
<!-- rs - &#8377;  -->                              <h5>$ <%= row.bprice %></h5>      
                                                    <p style="text-align: justify;"><%= row.bdiscription %></p>
                                                    <form method="GET" action="/users/myorder">
                                                        <input type="hidden" name="bid" value="<%= row._id %>">
                                                        <input type="hidden" name="title" value="<%= row.btitle %>">
                                                        <input type="hidden" name="discription" value="<%= row.bdiscription %>">
                                                        <input type="hidden" name="price" value="<%= row.bprice %>">
                                                        <input type="hidden" name="bookimgnm" value="<%= row.bookimgnm %>">
                                                        <button class="btn hvr-hover" type="submit" style="color: white; float: right; margin-top: -30px; font-weight: 900;">Buy Now</button>
                                                    </form>
                                                </div>
                                            </div>
                                        <% }} %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Shop Page -->


<% include instagram-feed %>
<% include userfooter %>