<% include adminhead %>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"></style>
<script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


<div class="admin-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Admin panel</h1>
                <h1>Please be careful...</h1>
            </div>
        </div>
    </div>
</div>


<div class="about-box-main">
    <div class="container">
        <center>
            <h1 style="font-size: 30px; text-transform: uppercase; letter-spacing: 2px; font-weight: 900;">My Orders</h1>
            <div class="table-responsive">
                <table class="table table-striped" id="myTable">
                    <thead>
                        <tr>
                            <th scope="col">Order ID</th>
                            <th scope="col">Status</th>
                            <th scope="col">Book ID</th>
                            <th scope="col">User ID</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Payer ID</th>
                            <th scope="col">Order Information</th>
                            <th scope="col">Action</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let row of olist) { %>
                        <tr>
                            <!-- Order ID -->
                            <td style="text-align: center;"><%= row._id %></td>
                            <!-- Status -->
                            <% if(row.status==1) { %>
                                <td style="text-align: center;">
                                    <i class="fas fa-check-double" style="color: #018508; font-size: 18px;"></i>
                                </td>
                            <% } else { %>
                                <td style="text-align: center;">
                                    <i class="fas fa-box-open" style="color: #d33; font-size: 18px;"></i>
                                </td>
                            <% } %> 
                            <!-- BookID -->
                            <td style="text-align: center;"><%= row.bid %></td>
                            <!-- UserID -->
                            <td style="text-align: center;"><%= row.uid %></td>
                            <!-- Amount -->
                            <td style="text-align: center;"><%= row.amount %></td>
                            <!-- Quantity -->
                            <td style="text-align: center;"><%= row.qty %></td>
                            <!-- PayerID -->
                            <td style="text-align: center;"><%= row.PayerID %></td>
                            <!-- Order Information -->
                            <td style="text-align: center;"><%= row.info %></td>
                            <!-- packed/dispatch/dilevered -->
                            <% if(row.status==1) {%>
                                <td style="text-align: center;">
                                    <a href="/admin/viewordersadminstatus?oid=<%= row._id %>&s=block" title="Block User" class="fas fa-times" style="color: #d33; font-size: 18px;"></a>
                                </td>
                            <% } else{ %>
                                <td style="text-align: center;">
                                    <a href="/admin/viewordersadminstatus?oid=<%= row._id %>&s=verify" title="Verify User" class="fas fa-truck" style="color: #018508; font-size: 18px;"></a>
                                </td>
                            <% } %>
                            <!-- DELETE -->
                            <td style="text-align: center;">
                                <a href="/admin/viewordersadminstatus?oid=<%= row._id %>&s=delete" title="Delete User" class="fas fa-trash" style="color: #d33; font-size: 18px;"></a>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </center>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('#myTable').dataTable();
    });
</script>
    

<% include adminfooter %>